@model Products

<h2>Add Product</h2>

<form asp-controller="Product" asp-action="Add" method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Imageurl" class="form-label"></label>
        <input asp-for="Imageurl" class="form-control" />
        <span asp-validation-for="Imageurl" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Price" class="form-label"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="DiscountPrice" class="form-label"></label>
        <input asp-for="DiscountPrice" class="form-control" />
        <span asp-validation-for="DiscountPrice" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">Add</button>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}   